/** @define AppFooter */

.AppFooter {
  background-color: var(--colorCharcoalDark);
  padding: 50px var(--spaceLarge);
  text-align: center;
}

.AppFooter-link {

  &:hover {
    text-decoration: underline;
  }
}
