/** @define AppContent */

.AppContent {
  box-shadow: inset 0 100px 50px 0 rgba(0, 0, 0, 0.05);
  padding-bottom: 50px;
  padding-top: 50px;
}

.AppContent-link {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
