/**
 * Typography styles
 */

@font-face {
  font-display: swap;
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  src:
    url("../font/titillium-web-v10-latin/titillium-web-v10-latin-regular.woff2")
      format("woff2"),
    url("../font/titillium-web-v10-latin/titillium-web-v10-latin-regular.woff")
      format("woff");
}
