@custom-media --small-viewport (min-width: 576px);
@custom-media --medium-viewport (min-width: 768px);
@custom-media --large-viewport (min-width: 992px);

:root {
  --fontSize-base: 17px;
  --lineHeight-base: 1.8;
  --lineHeight-small: 1.4;

  --colorOffWhite: #f4f7fc;
  --colorLightGray: #dbdee2;
  --colorDarkBrown: #443633;
  --colorCharcoal: #264653;
  --colorCharcoalDark: #1a2a33;

  --spaceBase: 10px;
  --spaceSmall: 5px;
  --spaceLarge: 20px;
  --spaceXLarge: 40px;

  --borderRadius: 5px;
}
